################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DAL_Test/obj/Debug
/DAL_Test/bin/Debug
/ET/obj/Debug
/BL/obj/Debug
/DAL/obj/Debug
/packages
