<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Colegio" value="Data Source=line2;Initial Catalog=Colegio;Integrated Security=True" />
    <add key="Host" value="localhost"/>
  </appSettings>
  <connectionStrings>
    <add name="Colegio" providerName="System.Data.SqlClient" connectionString="Data Source=line2;Initial Catalog=Colegio;Integrated Security=True" />
  </connectionStrings>

  
</configuration>